phi-post {
    display: block;
}

phi-post-header {
    
    display: block;
    position: relative;
    padding: 12px 12px 6px 70px;
    min-height: 74px;

    phi-post-icon {
        
        padding: 12px;
        position: absolute;
        top: 0;
        left: 0;

    }

    phi-post-preview {
        display: block;
    }
}

phi-post-body {
    display: block;
    padding: 12px;
}

phi-post-author {
    display: block;
    color: #222;
    font-weight: normal;
}

phi-post-date {
    display: block;
    color: #777;
    font-size: 0.8em;
}

phi-post-description {
    display: block;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 1em;
    word-break: break-word;
    white-space: pre-wrap;
}

phi-post-blocks {
    display: block;
    
    & > * {
        display: block;
        margin-bottom: 1em;
    }
}