phi-notification-settings {

    display: block;

    & > button {
        display: block;
        margin-top: 24px;
    }
}


phi-setting {

    display: block;

    phi-setting-header {

        cursor: pointer;
        display: block;
        position: relative;

        outline: none;

        &:hover {
            background-color: rgba(0,0,0, 0.04);
        }

        @at-root {
            phi-setting.open > phi-setting-header {
                background-color: rgba(0,0,0, 0.04);
            }
        }


        phi-setting-icon {
            display: block;

            position: absolute;
            top: 0;
            left: 0;

            width: 72px;
            padding: 16px;
            box-sizing: border-box;
            height: 100%;

            text-align: center;

            &:before {
                @include phi-icon(fa-file-text);
                font-size: 22px;
                color: #666;
            }

            & > *,
            &:before {
                display: block;
                text-align: center;
                max-width: 22px;
            }

        }

        phi-setting-contents {
            display: block;
            outline: none;

            padding: 16px;
            padding-left: 0;
            margin-left: 72px;

            phi-setting-title {

                display: block;
                margin: 0;
                font-size: 1.5em;
                font-weight: normal;

                max-width: 100%;
                word-break: break-word;

            }

            phi-setting-notice {
                display: block;
                color: #444;
            }

        }

    }


    phi-setting-body {

        display: block;
        padding: 16px 0;

        margin-left: 72px;

        & > phi-checkbox {
            display: block;
            margin: 0 0 24px 0;
        }

        phi-setting-schedule {
            display: block;

            phi-checkbox {
                display: block;
                margin-bottom: 12px;
            }
        }

    }



    /* Setting states */
    &.open {
        & > phi-setting-body {
            display: block;
        }
    }

    &.closed {
        & > phi-setting-body {
            display: none;
        }
    }

    &.disabled {
        & > phi-setting-body {
            & > phi-setting-schedule,
            & > phi-drawer {
                opacity: 0.5;
            }
        }
    }


    /* Specific transports */
    &.setting-transport {
        & > phi-setting-header > phi-setting-contents > phi-setting-title {
            text-transform: uppercase;
        }
    }


    &.transport-email {
        phi-setting-icon:before {
            @include phi-icon(fa-envelope-o);
        }
    }

    &.transport-mobile {
        phi-setting-icon:before {
            @include phi-icon(fa-tablet);
        }
    }


}


phi-drawer {

    display: block;
    margin: 12px 0;

    &-title {
        display: block;
        padding: 8px;
        cursor: pointer;

        &:before {
            display: inline-block;
            margin-right: 1em;
        }

    }

    &-body {
        display: block;
    }

    &.open {

        & > phi-drawer-title:before {
            @include phi-icon(fa-chevron-down);
        }

        & > phi-drawer-body {
            display: block;
        }

    }

    &.closed {

        & > phi-drawer-title:before {
            @include phi-icon(fa-chevron-right);
        }

        & > phi-drawer-body {
            display: none;
        }
    }

}