phi-button,
[phi-button] {

    @extend [phi-z];

	display: inline-block;
	padding: $phi-spacing-padding;
    border: 0;
	border-radius: $phi-spacing-radius;

    color: #fff;
    text-transform: uppercase;
    font-weight: normal;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: #01579b;

    &:hover, &:focus {
        @extend [phi-z="2"];
        outline: 0;
    }

    &:active {
        @extend [phi-z="0"];
    }

    &.danger {
        background-color: #d9534f;
        color: #fff;
    }

    &.cancel {
        @extend [phi-z="0"];
        background: transparent !important;
        color: #444;

        &:hover {
            color: #900;
        }
    }

    &[disabled] {
        box-shadow: none;
        background-color: #444;
        opacity: 0.6;
    }

}