/* The height to auto transition is done in JS (see scale.js) */
[phi-visible-animation="scale"] {

	overflow: hidden;

	&[phi-visible="false"] {
		opacity: 0.2;
		height: 0;
	}

	&[phi-visible="true"] {
		opacity: 1;
		height: auto;
	}
}
