[phi-visible-animation="scale"] {

	overflow: hidden;
    // transition: height $phi-visible-transition-duration;

	&[phi-visible="false"] {
		opacity: 0.6;
		height: 0;
	}

	&[phi-visible="true"] {
		opacity: 1;
		height: 50px;
	}
}
