$phi-list-item-padding: 16px;

phi-list-item {

    display: block;
    position: relative;
    
    padding: $phi-list-item-padding;
    padding-left: 64px;
    min-height: 48px;

    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;

    font-weight: 400;

    & > * {
        display: inline-block;
        vertical-align: middle;
    }

    &:before,
    & > img {
        display: block;
        position: absolute;
        top: $phi-list-item-padding;
        left: $phi-list-item-padding;
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin: 0 !important;
        font-size: 18px;
        text-align: center;
    }

}