<!-- Manual list of transports -->
<section border-box ng-repeat="transport in vm.transports" ng-show="!!(vm.destinations|filter:{transport:transport.name}).length || (vm.allowEdit && transport.allowEdit)" class="phi-notification-transport phi-notification-transport-{{transport.name}}">

    <h1 ng-bind="transport.label"></h1>

    <div ng-repeat="destination in vm.destinations | filter: {transport:transport.name}" ng-class="{enabled: destination.isEnabled, disabled: !destination.isEnabled}">

        <phi-notification-setting>

            <div class="face" ng-click="destination.isExpanded = !destination.isExpanded">
                <h1 ng-bind="destination.destination || transport.defaultText || 'predeterminado'" phi-icon-left="{{destination.isExpanded ? 'fa-caret-down' : 'fa-caret-right'}}"></h1>
            </div>

            <div class="toggler">
                <input id="toggle_{{destination.id}}" type="checkbox" class="tgl tgl-ios" ng-model="destination.isEnabled"  ng-change="vm.save(destination)" />
                <label for="toggle_{{destination.id}}" class="tgl-btn"></label>
            </div>

            <div class="schedule" phi-icon="fa-clock-o">
                <select ng-model="destination.schedule" ng-change="vm.save(destination)" ng-options="hour.value as hour.label for hour in vm.scheduleHours">
                    <option value="">inmediato</option>
                </select>
            </div>

            <button ng-if="transport.allowEdit && !!destination.destination" class="menu" phi-icon="fa-trash-o" ng-click="vm.remove(destination)"></button>
            <button ng-if="!(transport.allowEdit && !!destination.destination)" class="menu"></button> <!-- placeholder -->

        </phi-notification-setting>

        <div class="subpreferences" phi-visible="{{!!destination.isExpanded}}" phi-visible-animation="scale">

            <phi-notification-setting ng-repeat="(key, preference) in destination.preferences">
                <div class="face">
                    <h1 ng-bind="preference.type"></h1>
                </div>
                <div class="toggler">
                    <input id="toggle_pref_{{key}}" type="checkbox" class="tgl tgl-ios" ng-model="preference.isEnabled"  ng-change="vm.save(destination)" />
                    <label for="toggle_pref_{{key}}" class="tgl-btn"></label>
                </div>
                <div class="schedule" phi-icon="fa-clock-o">
                    <select ng-model="preference.schedule" ng-change="vm.save(destination)" ng-options="hour.value as hour.label for hour in vm.scheduleHours">
                        <option value="">{{destination.schedule ? 'consolidado' : 'inmediato'}}</option>
                    </select>
                </div>
            </phi-notification-setting>

        </div>

    </div>

    <div phi-visible="{{transport.isAdding}}" phi-visible-animation="scale" ng-init="transport.new = {transport: transport.name, isEnabled:true, destination: null, schedule: null}">
        <phi-notification-setting>

            <div class="face" style="display:flex">
                <button phi-icon="fa-times" ng-click="transport.isAdding = false"></button>
                <phi-input ng-model="transport.new.destination"></phi-input>
            </div>

            <div class="toggler">
                <input id="new_{{transport.name}}" type="checkbox" class="tgl tgl-ios" ng-model="transport.isAdding"/>
                <label for="new_{{transport.name}}" class="tgl-btn"></label>
            </div>

            <div class="schedule" phi-icon="fa-clock-o">
                <select ng-model="transport.new.schedule" ng-change="vm.save(destination)" ng-options="hour.value as hour.label for hour in vm.scheduleHours">
                    <option value="">{{destination.schedule ? 'consolidado' : 'inmediato'}}</option>
                </select>
            </div>

            <button class="menu" ng-click="vm.save(transport.new); transport.isAdding = false; transport.new = {transport: transport.name, isEnabled:true, destination: null, schedule: null}" phi-icon="fa-check"></button>

        </phi-notification-setting>
    </div>

    <phi-notification-setting class="adder" ng-if="vm.allowEdit && transport.allowEdit" ng-click="transport.isAdding = true" phi-visible="{{!transport.isAdding}}" phi-visible-animation="scale">
        <div class="face">
            <h1 phi-icon-left="fa-plus">agregar destinatario</h1>
        </div>
    </phi-notification-setting>

</section>