phi-notification-settings {
    display: block;


    & > section {

        margin-bottom: 24px;

        & > h1 {
            font-size: 1em;
            color: #666;
            border-bottom: 1px solid #d7d7d7;
            padding-bottom: 2px;
            margin-bottom: 2px;
        }

    }

    .subpreferences {
        padding-left: 20px;
    }
}

.disabled .subpreferences {
    opacity: 0.5 !important;
    pointer-events: none;
}


phi-notification-setting {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .face {
        flex: 1;
        padding: 7px 0;
        cursor: pointer;

        h1 {
            font-size: 1.2em;
        }

        phi-input {
            width: 100%;
        }
    }

    .toggler, 
    .schedule, 
    .menu {
        margin-left: 1em;
    }

    .schedule {
        select {
            border: 0;
            padding: 4px 0;
        }
    }

    button {
        background-color: transparent;
        color: #333;
        border: 0;
        font-size: 1.2em;
        min-width: 2.5em;
    }

}


/* 
Toggler 
https://codepen.io/mallendeo/pen/eLIiG
*/
.tgl {
	display: none;
  
	// add default box-sizing for this scope
	&,
    &:after,
    &:before,
	& *,
    & *:after,
    & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
  
	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
        user-select: none;
		&:after,
        &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
    
		&:after {
			left: 0;
		}
    
		&:before {
			display: none;
		}
	}
  
	&:checked + .tgl-btn:after {
		left: 50%;
	}
}


.tgl-ios {
	+ .tgl-btn {
		background: #aaa;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		border: 1px solid #e8eae9;
		&:after {
			border-radius: 2em;
			background: #fbfbfb;
			transition:
                left .3s cubic-bezier(0.175, 0.885, 0.320, 1.275),
                padding .3s ease, margin .3s ease;
            box-shadow:
                0 0 0 1px rgba(0,0,0,.1),
                0 4px 0 rgba(0,0,0,.08);
		}
    
        &:hover:after {
            will-change: padding;
        }
    
		&:active {
			box-shadow: inset 0 0 0 2em #e8eae9;
			&:after {
				padding-right: .8em;
			}
		}
	}
  
	&:checked + .tgl-btn {
        background: #01579b;
        &:active {
            box-shadow: none;
            &:after {
                margin-left: -.8em;
            }
        }
	}
}