$phi-state-transition-duration: 280ms;

.main-view {

    &.ng-enter,
    &.ng-leave {
        position: absolute;
        left: 0;
        right: 0;
        transition: all $phi-state-transition-duration ease-in-out;

        phi-state-cover {
            transition: all $phi-state-transition-duration ease-in-out;
            max-height: none !important;
        }
    }

    &.ng-enter {
        opacity: 0;
    }

    &.ng-enter-active {
        opacity: 1;
    }

    &.ng-leave {
        opacity: 1;
    }

    &.ng-leave-active {
        opacity: 0;
    }

}