phi-state#city {

    phi-state-navigation {

        background-color: rgba(0, 0, 0, 0.5);

        & > div {

            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            & > * {
                flex: 1;
            }

        }

        .total {

            color: #fff;
            font-size: 1.4em;

            @media (max-width: 600px) {
                font-size: 1.2em;
                height: 48px;
                line-height: 48px;

                text-align: center;
            }
        }

        phi-menu {
            text-align: right;
            @media (max-width: 600px) {
                text-align: center;
            }
        }

    }

    phi-state-cover {
        background-position-y: 50%;

        .header {
            padding-bottom: 12px;
        }

        .search {
            padding: 0 0 0 42px;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 4px;
            color: #666;
            text-align: left;

            position: relative;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                padding: 12px;
            }

            input {
                outline: none;
                padding: 12px 0;
                border: 0;
                background: transparent;
                width: 100%;

                display: inline-block;
                text-align: left;

                font: inherit;
                color: #333;

                &::-webkit-input-placeholder {
                color: #666;
                font-weight: normal;
                }

                &:-moz-placeholder { /* Firefox 18- */
                color: #666;
                font-weight: normal;
                }

                &::-moz-placeholder {  /* Firefox 19+ */
                color: #666;
                font-weight: normal;
                }

                &:-ms-input-placeholder {
                color: #666;
                font-weight: normal;
                }

            }
        }


    }


    phi-state-contents {
        padding-top: 12px;
    }

    [phi-grid] {
        & > * {
            margin-bottom: 24px;
        }
    }


    #google-map {
        height: 100%;
        min-height: 600px;
        max-width: none;
    }

    .phi-marker-cluster {

        background: #900;
        border-radius: 50%;

        font-size: 2em;
        font-weight: bold;
        color: #fff;

        width: 56px;
        height: 56px;
        line-height: 56px;
        text-align: center;

        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.6);
    }
    
}
