[phi-grid] {

    box-sizing: border-box;

    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

    flex-wrap: wrap;

    & > * {
        -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
        width: 20%;            /* For old syntax, otherwise collapses. */
        -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
        -ms-flex: 1;           /* IE 10 */
        flex: 1;               /* NEW, Spec - Firefox, Chrome, Opera */


        $spacing: 11px;

        min-width: 30%;
        min-width: calc(33% - #{$spacing});
        margin: 0 $spacing $spacing 0;

        &:nth-child(3n+3) {
            margin-right: 0;
        }


        @media (max-width: 600px) {

            $spacing-small: 4px;

            min-width: 45%;
            min-width: calc(50% - #{$spacing-small});
            margin: 0 $spacing-small $spacing-small 0;

            &:nth-child(3n+3) {
                margin-right: $spacing-small;
            }

            &:nth-child(2n+2) {
                margin-right: 0;
            }

        }
    }

}

