#home {

    phi-state-cover {

        text-align: center;

        .header {
            padding-bottom: 36px;
            transition: all 300ms;

            h1 {
                font-family: Pacifico, sans-serif;
                text-shadow: 0 0 8px rgba(0, 0, 0, .4);
                font-size: 2.6em;

                transition: all 300ms;
                opacity: 1;
                overflow: hidden;
                height: 128px;
                line-height: 128px;


                @media (max-width: 600px) {
                    font-size: 1.8em;
                }
            }
        }


        /* Expand/Collapse */
        &.collapsed {
            .header {
                padding-bottom: 12px;

                h1 {
                    opacity: 0;
                    height: 0;
                    font-size: 2.3em;
                }
            }
        }

        .search {

            padding: 0 0 0 50px;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 4px;
            color: #666;
            text-align: left;

            position: relative;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                padding: 18px;
                margin: 0;
            }

            input {
                outline: none;
                padding: 16px 0;
                border: 0;
                background: transparent;
                width: 100%;

                display: inline-block;
                text-align: left;

                font: inherit;
                color: #333;

                &::-webkit-input-placeholder {
                    color: #666;
                    font-weight: normal;
                }

                &:-moz-placeholder { /* Firefox 18- */
                    color: #666;  
                    font-weight: normal;
                }

                &::-moz-placeholder {  /* Firefox 19+ */
                    color: #666;  
                    font-weight: normal;
                }

                &:-ms-input-placeholder {  
                    color: #666;  
                    font-weight: normal;
                }

            }
        }

    }


    phi-state-contents {
        padding-top: 11px;

        #cities {
            margin-bottom: 32px;
        }

    }

}
