$phi-avatar-size: 42px;

.phi-avatar {
	display: inline-block;
	border-radius: 50%;

	width: $phi-avatar-size;
	height: $phi-avatar-size;
	min-width: $phi-avatar-size;
	min-height: $phi-avatar-size;
	max-width: $phi-avatar-size;
	max-height: $phi-avatar-size;	

	overflow: hidden;

	& > * {
		width: 100%;
	}
}