phi-card {

    display: block;
    background-color: #fff;
    @extend [phi-z];

    @extend .phi-rounded;
    overflow: hidden; // correctly show rounded corners when elements are absolutely positioned inside the cover

    phi-card-cover {
        display: block;
        background-size: cover;
        min-height: 120px;
    }

    phi-card-contents {
        display: block;
        @extend .phi-padded;
    }
}