/*
Full example:

<div class="phi-page">
	<div class="phi-page-toolbar"></div>
	<div class="phi-page-cover"></div>
	<div class="phi-page-navigation">
		<router-link to="/foo"><ons-ripple color="rgba(0, 0, 0, 0.1)"></ons-ripple>Foo</router-link>
		<router-link to="/bar"><ons-ripple color="rgba(0, 0, 0, 0.1)"></ons-ripple>Bar</router-link>
		<router-link to="/Inbox"><ons-ripple color="rgba(0, 0, 0, 0.1)"></ons-ripple>Inbox</router-link>    
	</div>
	<div class="phi-page-contents"></div>
</div>


Element modifiers:
Special class names prefixed with _ that denote element behavior

class="phi-page _collapsed" ...
class="phi-page-cover _parallax"
class="phi-page-navigation _hidden _scrollhide"
*/

$phi-page-toolbar-height: 64px;
$phi-page-navigation-height: 46px;

.phi-page, 
.phi-page * {
	box-sizing: border-box;
}

.phi-page {
	display: block;
	position: relative;
	height: 100%;
	overflow: hidden;

	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}

.phi-page-contents {
	padding: 16px;
}

/* Toolbar */
.phi-page-toolbar {

	box-sizing: border-box;
	height: $phi-page-toolbar-height;
	padding: 0 16px;

	display: flex;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;

	/* The next element must make room for the toolbar */
	& + * {
		padding-top: $phi-page-toolbar-height;
	}

	& > *:first-child {
		margin-right: 18px;
	}

	h1 {
		flex: 1;
		font-size: 20px;
		font-weight: 400;
		color: inherit;
	}

	.phi-button {
		@extend ._z-0;
		background: transparent;
		border: 0;
		padding: 0;

		font-size: 1.2em;
		width: 32px;
		height: 32px;

		color: inherit;
	}


	/* Hidden state */
	transition: transform 280ms ease-in-out;
	&._hidden {
		transform: translateY(-100%);
	}
}