.phi-page-toolbar {

    box-sizing: border-box;
    height: $phi-page-toolbar-height;
    padding: 0 16px;

    display: flex;
    align-items: center;

    h1 {
        flex: 1;
        font-size: 20px;
        font-weight: 400;
        color: inherit;
    }

    .phi-button {
        @extend ._z-0;
        background: transparent;
        border: 0;
        padding: 0;

        font-size: 1.2em;
        width: 32px;
        height: 32px;

        color: inherit;

        &:first-child {
            margin-right: 18px;
        }
    }

}