/*
Full example:

<div class="phi-page">
	<div class="phi-page-toolbar"></div>
	<div class="phi-page-cover"></div>
	<div class="phi-page-navigation">
		<router-link to="/foo"><ons-ripple color="rgba(0, 0, 0, 0.1)"></ons-ripple>Foo</router-link>
		<router-link to="/bar"><ons-ripple color="rgba(0, 0, 0, 0.1)"></ons-ripple>Bar</router-link>
		<router-link to="/Inbox"><ons-ripple color="rgba(0, 0, 0, 0.1)"></ons-ripple>Inbox</router-link>
	</div>
	<div class="phi-page-contents"></div>
</div>


Element modifiers:
Special class names prefixed with _ that denote element behavior

class="phi-page _collapsed" ...
class="phi-page-cover _parallax"
class="phi-page-navigation _hidden _scrollhide"
*/

$phi-page-toolbar-height: 64px;
$phi-page-navigation-height: 46px;

.phi-page,
.phi-page * {
	box-sizing: border-box;
}

.phi-page {
	display: block;
	position: relative;
	height: 100%;
	overflow: hidden;

	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}


.phi-page-cover {
    display: block;
	position: relative;
    overflow: hidden;

    background-size: cover;
    background-position-x: 50%;
    background-position-y: 0;
}

.phi-page-header {
	padding: 16px;
    color: #fff;
	text-shadow: 
		0 1px 6px #000,
		0 1px 3px #000;
	/*flex: 1;*/
}


.phi-page-contents {
	padding: 16px;
}






/* Toolbar */
.phi-page-toolbar {

	box-sizing: border-box;
	height: $phi-page-toolbar-height;
	padding: 0 16px;

	display: flex;
	align-items: center;

	.phi-page-toolbar-wide {
		flex: 1;
	}

	& > *:first-child {
		margin-right: 18px;
	}

	h1 {
		flex: 1;
		font-size: 20px;
		font-weight: 400;
		color: inherit;
	}

	& > a {
		display: block;
		width: 32px;
		height: 32px;
		line-height: 32px;

		.fa {
			display: block;
			text-align: center;
			width: 32px;
			height: 32px;
			line-height: 32px;
		}
	}

	.phi-button {
		@extend ._z-0;
		background: transparent;
		border: 0;
		padding: 0;

		font-size: 1.2em;
		width: 32px;
		height: 32px;

		color: inherit;
	}

}



/* Navigation */
.phi-page-navigation {
    display: block;
    position: relative;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    background-color: rgba(0, 0, 0, 0.420);

	min-height: $phi-page-navigation-height;

    & > * {
        @extend ._padded;

        display: inline-block;
        box-sizing: border-box;
        height: $phi-page-navigation-height;

        color: #fff;
        font-weight: normal;
        text-decoration: none;

        cursor: pointer;

        &.router-link-active,
        &._active {
            border-bottom: 4px solid #fff;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

}

/* Fixed footer */
.phi-page-footer {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}




/* Scrollable phi-page */
.phi-page.scrollable {

	.phi-page-cover {
		padding-top: $phi-page-toolbar-height;
	}

	.phi-page-toolbar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;

		z-index: 2;

		/* Hidden state */
		transition: transform 280ms ease-in-out;
		&._hidden {
			transform: translateY(-100%);
		}
	}

}