.phi-page-navigation {
    display: block;
    position: relative;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    background-color: rgba(0, 0, 0, 0.3);

    & > * {
        @extend ._padded;

        display: inline-block;
        box-sizing: border-box;
        height: $phi-page-navigation-height;

        color: #fff;
        font-weight: normal;
        text-decoration: none;

        cursor: pointer;

        &._active {
            border-bottom: 4px solid #fff;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

}