phi-card.phi-card-image {

    position: relative;

    phi-card-cover {
        height: 100%;
        min-height: 192px;
        background-position-x: 50%;
    }

    phi-card-contents {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 12px;
        color: #fff;
        background: rgba(0,0,0,.6);
    }
}