._texture-emboss {

    border: 1px solid #dcdcdc;
    border-radius: 4px;
    @include phi-gradient(#f1f1f1, #f1f1f1, #fcfcfc);

    ._pressed {
        @include phi-gradient(#f0f0f0, #f0f0f0, #eee);
    }

    ._highlighted {
        border: 1px solid #bbb;
    }

}

