phi-api-resource-files {

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

}

.phi-api-resource-files-file {

        cursor: pointer;

        box-sizing: border-box;
        display: block;
        position: relative;
        padding: 12px;

        margin-bottom: 12px;

        &:hover {
            background: #f3f3f3;
        }

        &-delete {

            display: block;
            cursor: pointer;
            font-size: 14px;
            color: #900;

            position: absolute;
            top: 0;
            right: 0;
            padding: 12px;
        }

        .thumbnail {

            width: 90px;
            height: 70px;
            overflow: hidden;
            border-radius: 4px;
            background: #ddd;

            & > * {
                width: 100%;
            }

        }

        .details {

            phi-input {
                min-width: 600px;
                font-size: 16px;
            }

            p {
                margin: 0;
                color: #666;
            }
            
        }

        .thumbnail, .details {
            display: inline-block;
            vertical-align: middle;
            margin-right: 1em;
            word-break: break-all;
        }

        progress {
            display: block;
            width: 100%;
            height: 3px;
            margin-top: 2px;
        }
}
