._z-0 {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4) !important;
}

._z,
._z-1 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
}

._z-2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.33);
}

._z-3 {
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.35);
}

._z-4 {
  box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.40);
}

._z-5 {
  box-shadow: 0 19px 36px 0 rgba(0, 0, 0, 0.45);
}